.page-header {
	background-color: Teal; 
	text-align: center;
}

h1 {
	color: Purple;
}

.centered {
	text-align: center;
}

#nav
{
  list-style: none;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: -6px;
  z-index: 9;
  height: 26px;
  padding: 4px 4px 4px 4px;
  font-weight: bold;	
}

#nav li
{
  float: right;
  margin-right: 10px;
}

#nav a
{
  display: block;
  padding: 5px;
  color: #444444;
  background: #fff;
  text-decoration: none;
	border: 1px solid grey;
}

#nav a:hover
{
  color: #fff;
  background: #04B431;
}